.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(98, 88, 160);
  color: white;
  margin-left: 0px;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

.minion-links{
  color: rgb(80, 67, 112);
}

.shop-div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.shop-img{
}
