.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(88, 160, 129);
  color: white;
  margin-left: 0px;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

.minion-links{
  color: rgb(55, 70, 68);
}

.shop-div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-right: 20vw;
}

.shop-item{
  
  background-color: white;
  position: absolute;

}

.shopItem{
  background-color: rgb(151, 174, 161);
  padding: 10px;
  margin-right: 5px;
}

.cart{
  float: right;
  background-color: rgb(20, 95, 66);
  height: 80vh;
  position: fixed;
  right:1vw;
  width: 20vw;
  margin-left: 5vw;
  color: white;


}

.shop_item_popup{
 width: 75%;
  position: fixed;
  z-index: 1;
  background-color: teal;
}
