/*menu container*/
.burgerWrapper, .appWrapper, .dessertWrapper{
    padding: 1%;
    background-color: black;
    display: grid;
    grid-template-columns: 20% 15% 20% 15%;
    grid-template-rows: 30% 30% 30% 30%;
    grid-gap: 5% 7vw;
    padding-bottom: 10%;
}

.menuWrapper{
    background-color: #e62d2e;
    border-radius: 10px;
}

.box{
    padding-right: .5vw;
    padding-left: .5vw;
    max-width: 20vw;
    padding-bottom: 4vw;
}

h2{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 3vw;
    color: white;
    font-family: 'Pacifico', cursive; 
    padding-top: 3vh;
    padding-bottom: 3vh;
}

h4, p{
    color: white;
    font-family: 'Days One', sans-serif;  
}

h4{
    font-size: 1.2vw;
}

p{
    font-size: 1vw;
}

