body{
    background-color: white;
}

#content{
    text-align: center;
    display: inline-block;
    width: 100%;

}

.sloganWrapper{
    font-size: 2vw;
    top: -2vw;
    text-align: center;
    vertical-align: top;
    z-index: 100;
    padding-top: 20%;
    padding-left: 2%;
    padding-right: 2%;
    position: fixed;

    

}

.slogan{
    color:#e62d2e;
    font-family: 'Pacifico', cursive;    
    font-size: 1.5vw;
    background-color: black;
    border-radius: 0px 0px 50px 50px ;
    display: inline-block;
    width: 20%;
    z-index: 0;
    padding-top: 0%;
    position: fixed;
    margin-bottom: 1%;

}  

.sloganLink{
    font-family: 'Days One', sans-serif;  
    font-size: .75vw;
    color: white;
}

.star{
    width: 50px;
    float: left;
    left: 200px;
    margin-top: auto;
    margin-bottom: auto;
    margin: 2%;
    vertical-align: middle;
    
}

.logoWrapper{
    width: 15%;
    display: block;

}
.logo{
    width: 80%;
    max-width: 80%;
    float: left;
    display: block;
}

.description{
    font-family: 'Days One', sans-serif;  
font-size: 1vw;
    float: left;
    display: block;
    height: 70vh;
    width: 80%;

}

.nav-bar{
    font-family: 'Days One', sans-serif;  
    font-size: 2vw;
    background-color: #e62d2e;
    border-radius: 0px 0px 50px 50px ;
    top: 0;
    text-align: center;
    vertical-align: top;
    z-index: 100;
    padding-top: -5%;
    padding-left: 2%;
    padding-right: 2%;
    position: fixed;
    margin-left: 30%;

}

.listItem{
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

a:hover{
    text-decoration: underline;
}

.selected{
    background-color: teal;
    border-radius: 50px;
    
}

.location{
    float: right;
    font-family: 'Days One', sans-serif;  
    color:#e62d2e;
    margin-top: -.5%;
    font-size: 1vw;
}
