body{
    background-color: black;
}

#content{
    text-align: center;
    display: inline-block;
    width: 100%;

}

.sideBar{
    width: 99vw;
    height: 10%;
    background-color: #ffcf5b;
    border-radius: 0px 0px 50px 50px ;
    display: block;
    margin: -.5%;
    padding-top: 0%;
    top: 0;

}

.sloganWrapper{
width: 100%;
padding: 0;
max-height: 100px;

}

.slogan{
    color:#e62d2e;
    font-family: 'Pacifico', cursive;    
    font-size: 1.5vw;
    background-color: black;
    padding-bottom: 1%;

}  


.star{
    width: 1%;
    padding-left: 1%;
    
}

.logo{
align-content: center;
max-height: 30%;
max-width: 30%;
padding-left: 15%;
    
}

.description{
    font-family: 'Days One', sans-serif;  
 font-size: 1.2vw;
    width: 100%;
    color: black;
margin-bottom: 3%;


}

.nav-bar{
    font-family: 'Days One', sans-serif;  
    font-size: 2vw;
    text-align: center;
    vertical-align: top;
    z-index: 100;
    padding-top: -5%;
    margin-top: -2%;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;

}

.listItem{
    padding-left: 10vw;
    padding-right: 10vw;
    color: white;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.selected{
    background-color: teal;
    border-radius: 50px;
    
}

.location{
    float: right;
    font-family: 'Days One', sans-serif;  
    color:#e62d2e;
    margin-top: 0%;
    font-size: 1vw;
    padding-right: 5%;
}
