.App {
  text-align: center;
  background-color: #02C39A;
}

.general{
  display: inline-block;
  width: 25%;
  border-radius: 5px;
  padding-top: 2vw !important;
}

.general label{
  text-align: center;
}

.educations{
  display: flex;
  justify-content: center;
}

.education1{
  display: inline-block;
  margin-right: .1vw;

}
.education2{
  display: inline-block;
  margin-left: .1vw;
}

.general, .education1, .education2, .experience1, .experience2{
  padding-left: .5vw;
  padding-right: .5vw;
  padding-top: .5vw;
  padding-bottom: .5vw;
  width: 50%;
  background-color: gainsboro;
  margin-top: -1vw;
  margin-bottom: 1vw;
  border-radius: 5px;
}

.experiences{
  display: flex;
  justify-content: center;
}

.experience1{
  display: inline-block;
  margin-right: .1vw;
}

.experience2{
  display: inline-block;
  margin-left: .1vw;
}

button{
  margin: .2vw;
  margin-top: 1vw;
}

.btn{
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 20px;
}

.btn-light:hover{
  background-color: #05668d;
  color: white;
}

.edit{
  display: inline;
}

.editing{
  padding-top: 2vw;
}

input{
  margin-top: 5px;
  margin-bottom: 1vw;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}

label{
  display:flex;
  margin: 0px;
  font-size: 150%;
  width: 19.8vw;
  margin-left: 4vw;
} 

h2{
  padding-top: 1vw;
  padding-bottom: 1vw;
  background-color: #00a896;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  border-radius:20px;
}

.form-control{
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-bottom: 5px solid #00a896;
  -webkit-transition: border 500ms ease-out;
  -moz-transition: border 500ms ease-out;
  -o-transition: border 500ms ease-out;
  transition: border 500ms ease-out;
  font-size: large;
  margin-left: 1.2vw;
  height: 3.5vw;
  font-size: larger;
}

.form-control:focus{
  box-shadow: 3px 3px 3px 3px #888888;
  border-bottom: 5px solid tomato;
}

.labelInputs{
  display: inline-flex;
}

.singleLineInput{
  width: 42vw;
  display: block;
}

.singleLineLabel{
  width: 19vw;
  padding-left: .1vw;
}

.school{
  width: 41vw;
}

.degree{
  width: 30vw;
}

.graduationYear{
  width: 10vw;
}

.company{
  width: 19.5vw;
}
.startDate, .endDate{
  width: 10vw;
}

.dateLabel{
  width: 10vw;
  margin-left: 1vw;
}

.companyLabel{
  width: 19.5vw;
  margin-left: 1.5vw;
}

p{
  font-size: 150%;
}

.generalInput{
  width: 15vw;
}

.generalLabels{
  width: 15vw;
  margin-left: 1.2vw;
}

.degreeDateLabel{
  margin-left: 11.4vw;
}