.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.general{
  padding: 1vw;
}

.general label{

  text-align: center;
}


.educations{
  display: flex;
  justify-content: center;
  padding: 1vw;


}

.education1{
  display: inline-block;
  background-color: yellow;

}
.education2{
  display: inline-block;
  background-color: orange;
}

.education1, .education2{
  padding-left: 5vw;
  padding-right: 5vw;
  width: 50%;
}

.experiences{
  display: flex;
  justify-content: center;
  padding: 1vw;

}

.experience1{
  display: inline-block;
  background-color: greenyellow;
  width: 30%;
}

.experience2{
  display: inline-block;
  background-color: teal;
  width: 30%;
}

button{
  margin: 1vw;

}

.editing{
  padding: 3vw;
}

input{
  margin-top: 5px;
  margin-bottom: 1vw;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  margin-left: 20px;
  
}

label{
  display:flex;
  margin: 0px;
  font-size: larger;
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: left;
  margin-left: 1.5vw;

} 

.form-control{
  width: 20vw;
 margin-left: auto;
 margin-right: auto;
 border: none;
 border-bottom: 1px solid gray;
 -webkit-transition: border 500ms ease-out;
 -moz-transition: border 500ms ease-out;
 -o-transition: border 500ms ease-out;
 transition: border 500ms ease-out;
 font-size: large;
 margin-left: 1.2vw;

}

.form-control:focus{
  box-shadow: none;
  border-bottom: 2px solid red;

}

.labelInputs{
  display: inline-flex;
}

.singleLineInput{
  width: 41vw;
  display: block;
}
