.App {
  text-align: center;
  background-color: gray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.general{
  display: inline-block;
  background-color: orangered;
  width: 40%;

}

.general label{
  text-align: center;
}


.educations{
  display: flex;
  justify-content: center;
  padding: .4vw;
  margin-bottom: .5vw;



}

.education1{
  display: inline-block;
  background-color: yellow;

}
.education2{
  display: inline-block;
  background-color: orange;
}

.general, .education1, .education2, .experience1, .experience2{
  padding-left: .5vw;
  padding-right: .5vw;
  padding-top: .5vw;
  padding-bottom: .5vw;
  width: 50%;
}

.experiences{
  display: flex;
  justify-content: center;
  padding-bottom: 1vw;
  padding-top: 1vw;

}

.experience1{
  display: inline-block;
  background-color: greenyellow;
}

.experience2{
  display: inline-block;
  background-color: teal;
}

button{
  margin: 1vw;
}

.edit{
  margin-left: 90%;
  display: inline;

}

.editing{
  padding-top: 2vw;
}

input{
  margin-top: 5px;
  margin-bottom: 1vw;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  
}

label{
  display:flex;
  margin: 0px;
  font-size: 150%;
  width: 19.8vw;
  margin-left: 4vw;

} 

.form-control{
  width: 20vw;
 margin-left: auto;
 margin-right: auto;
 border: none;
 border-bottom: 1px solid gray;
 -webkit-transition: border 500ms ease-out;
 -moz-transition: border 500ms ease-out;
 -o-transition: border 500ms ease-out;
 transition: border 500ms ease-out;
 font-size: large;
 margin-left: 1.2vw;

}

.form-control:focus{
  box-shadow: none;
  border-bottom: 2px solid red;

}

.labelInputs{
  display: inline-flex;
}

.singleLineInput{
  width: 42vw;
  display: block;
}

.singleLineLabel{
  width: 20vw;
}

.school{
  width: 41vw;
}

.degree{
  width: 30vw;
}

.graduationYear{
  width: 10vw;
}

.company{
  width: 19.5vw;
}
.startDate, .endDate{
  width: 10vw;
}

.dateLabel{
  width: 10vw;
  margin-left: 1vw;
}

.companyLabel{
  width: 19.5vw;
  margin-left: 1.5vw;
}

p{
  font-size: 150%;
}

.generalInput{
  width: 15vw;
}

.generalLabels{
  width: 15vw;
  margin-left: 1.2vw;
}

.degreeDateLabel{
  margin-left: 11.4vw;
}