body{
    background-color: gainsboro;
    width: 100%;
}
header{
    display: flex;
    justify-content: left;
    position: relative;
    width: 100%;
    float: left;
}

h1{
    color: darkcyan;
    font-family: 'Abril Fatface', cursive;
    font-size: 4em;
    display: inline-block;
    padding-left: .2em;
}

h2{
    font-size: 1.7em;
    word-wrap: break-word;
    font-family: 'Raleway', sans-serif;
}
h3{
    font-size: larger;
    word-wrap: break-word;
}
h4{
    font-size: medium;
    word-wrap: break-word;
}

h5{
    background-color: white;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    font-size: medium;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

#addBookBtn{
    margin-left: 1em;
    background-color: darkcyan;
    color: white;
    border-radius: 5px;
    font-size: 1.5em;
    border: 2px solid white;
    height: 3em;
    width: 100px;
    align-self: center;
}

#addBookBtn:hover{
    border: 2px dotted white;
    color: black;
    background: darkcyan;
    cursor: pointer;

}

#wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 17em);
    grid-gap: .6em;
    width: 95%;
    float: left;
}

#book{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    width: 10em;
    height: 15em;
    border-radius: 5px;
    padding: 1em;
    font-size: 125%;
    margin-top: 1em;
    margin-left: 5em;
    margin-right: 10em;
    transform:  rotate(-1.5deg);
    border-left: darkslategray 20px solid;
    opacity: 0.85;
}

#book:hover{
    opacity: 1;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1) rotate(2deg);
    border-left: tomato 20px solid;
}

#deleteBookBtn{
    color: black;
    border: none;
    background-color: aquamarine;
    font-size: 2em;
    padding: 0px;
    margin: 0px;
    height: .1em;
    line-height: .1em;
    cursor: pointer;

}

#formWrapper{
    position: relative;
    z-index: 100;
}

#newBookFormContainer{
    background: tomato;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: white;
    position: absolute;
    left: 30%;
    right: 40%;
    display: none;
    padding-left: 1em;
    padding-right: .2em;
    padding-top: .2em;
    padding-bottom: 1.5em;
    border-right: black 50px solid;
    text-align: center;
    border-radius: 10px;
    margin-top: 5em;

}

#title, #author, #pages{
    width: 60%;
    height: 1.5em;
    font-size: 1em;
    margin-bottom: .5em;
    padding-left: .5em;
    border-radius: 9px;
    font-family: 'Raleway', sans-serif;
}

#read, #unread{
    padding-right: .1em;
    font-family: 'Raleway', sans-serif;
}

#formLabel{
    display: inline-block;
    width: 3em;
    text-align: right;
    padding-right: .3em;
    padding-top: 1em;
    font-family: 'Raleway', sans-serif;
}

#submitBtn{
    width: 10em;
    height: 3em;
    font-size: .6em;
    margin: 4px;
    cursor: pointer;
    margin-top: 2em;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
}

#submitBtn:hover{
    background-color: gainsboro;
}

.changeStatusBtn{
    float: right;
}

.changeStatusBtn:hover{
    background-color: gainsboro;
}

#closeFormBtn{
    float: right;
    text-decoration: none;
    cursor: pointer;
    background-color: tomato;
    border: none;
    font-size: 2em;
    height: 1em;
    width: 1em;
    line-height: 0em;
    position: relative;
    color: white;
}   

#newBookFormHeader{
    font-size: 2em;
    padding: 0;
    margin: 0;
    left: auto;
    right: auto;
}
