body{
    background-color: black;
    width: 100%;
}
head{
    display: flex;
    justify-content: center;
    position: relative;
    width: 10em;
    background-color: darkgray;
}

h1{
    color: darkcyan;
    font-family: fantasy;
    font-size: 3em;
    display: inline-block;
    padding-left: .2em;

}

#addBookBtn{
    margin-left: 1em;
    background-color: darkcyan;
    color: white;
    border-radius: 5px;
    font-size: 1.5em;
    border: 2px solid white;

}

#wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 17em);
    grid-gap: .6em;
    width: 95%;
    float: left;

}

#book{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    width: 10em;
    height: 15em;
    border-radius: 5px;
    padding: 1em;
    font-size: 125%;
    margin-top: 1em;
    margin-left: 5em;
    margin-right: 10em;
    transform:  rotate(-1.5deg);
    border-left: white 20px solid;
    opacity: 0.85;
   
}

#book:hover{
    opacity: 1;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1) rotate(2deg);
    border-left: darkslategrey 20px solid;
   
}


#deleteBookBtn{
    color: black;
    border: none;
    background-color: aquamarine;
    font-size: 2em;
    padding: 0px;
    margin: 0px;
    height: .1em;
    line-height: .1em;
}

#formWrapper{
    position: relative;
    z-index: 100;
    
}
#newBookFormContainer{
    background: slategray;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: white;
    position: absolute;
    left: 30%;
    right: 50%;
    display: none;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: 2.5em;
    border-right: white 50px solid;
    text-align: center;

}

#title, #author, #pages{
    width: 60%;
    height: 1.5em;
    font-size: 1em;
    margin-bottom: .5em;
}

#read, #reading, #unread{
    padding-right: .1em;
}

h5{
    background-color: white;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    font-size: large;
    padding: 5px;
}
h5:hover{
    scale: 1.2;
}

#formLabel{
    display: inline-block;
    width: 3em;
    text-align: right;
}

#submitBtn{
    width: 10em;
    height: 3em;
    font-size: .6em;
    margin: 4px;
    cursor: pointer;
}

#closeFormBtn{
    float: right;
    text-decoration: none;
    cursor: pointer;
    background-color: slategray;
    border: none;
    font-size: 1em;
    height: 1em;
    width: 1em;
    line-height: 0em;
    position: relative;
}   
