body{
    margin: 10px;
    background-color: #016179;
}
h1{
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;    
    color: #f8af90;
    font-size: 300%;
    margin: 0;
}
.wrapper{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    grid-gap: 10px;
    background-color:#1493ae;
    color: white;
    width: 470px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
}

.box{
    background-color: #f26a2f;
    color: white;
    border-radius: 5px;
    padding: 20px;
    font-size: 700%;
    vertical-align: middle;
    text-align: center;
    line-height: 75px;
    margin: 10px;
}

.xScoreLabel{
    float: left;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;    
    font-size: large; 
    margin-left: 550px;
}
.oScoreLabel{
    float: right;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;   
    font-size: large; 
    margin-right: 550px;

}

#turn{
    text-align: center;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;    
    height: 30px;
    font-size: 150%; 
    
}

#clearBtn{  
    margin-top: 10px;
    width: 100px;
    height: 40px;
    background-color: #c9450c;
    border-radius: 20px;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;    
    font-size: large;
}

#clearBtnWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#names{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-right: 30px;
   padding-left: 30px;
   padding-top: 20px;
   padding-bottom: 20px;
   background-color: #a1dbe7;
   width: 30%;
   margin-left: auto;
   margin-right: auto;
   border-radius: 40px;
}

#btnWrapper{
   text-align: center;
}
#startBtn{
    background-color: #c9450c;
    border-radius: 20px;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;    
    font-size: large;
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: inline-flex
}

#nameLabel{
    margin-left: 10px;
    font-family: 'Montserrat Alternates', sans-serif; 
    font-size: large;
    color: #c9450c;   
}

#oNameWins, #xNameWins{
    color: #f27f4d;
}

#resultWindow{
    background: orange;
    width: 25%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: .2em;
    padding-top: .2em;
    padding-bottom: 1.5em;
    border-right: black 50px solid;
    text-align: center;
    border-radius: 10px;
    margin-top: -20em;
    margin-bottom: 2em;

    display:none;
}

#resultWrapper{
    position: relative;
    z-index: 100;
}
