body{
    margin: 10px;
    background-color: #016179;
    transform: scale(.9);
}

h1{
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;    
    color: tomato;
    font-size: 500%;
    margin: 0;
}

h2{
    color: tomato;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 160%;
}

h3{
    color: teal;
    font-family: 'Montserrat Alternates', sans-serif;    
    font-size: 120%;
}

#wrapper{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    grid-gap: 10px;
    background-color:#1493ae;
    color: white;
    width: 470px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
}

.box{
    background-color: #f26a2f;
    color: white;
    border-radius: 5px;
    padding: 20px;
    font-size: 700%;
    vertical-align: middle;
    text-align: center;
    line-height: 75px;
    margin: 10px;
    cursor: pointer;
}

.box:hover{
    background:#47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
    color: white;
}

.box:active{
    background-color:#292d3e;
    background-size: 100%;
}

.xScoreLabel{
    float: left;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;    
    font-size: large; 
    margin-left: 550px;
}
.oScoreLabel{
    float: right;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;   
    font-size: large; 
    margin-right: 550px;

}

#turn{
    text-align: center;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;    
    height: 30px;
    font-size: 150%; 
    
}

#clearBtn{  
    margin-top: 10px;
    width: 100px;
    height: 40px;
    background-color: #c9450c;
    border-radius: 20px;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;    
    font-size: large;
    cursor: pointer;

}

#clearBtnWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

#names{
   display: block;
   justify-content: center;
   align-items: center;
   padding-top: 50px;
   padding-bottom: 50px;
   background-color: #a1dbe7;
   width: 30%;
   margin-left: auto;
   margin-right: auto;
   border-radius: 40px;
   margin-top: 2vw;
}

#btnWrapper{
   text-align: center;
}

#startBtn, #computerStartBtn, #playAgainBtn, #resetBtn{
    background-color: #c9450c;
    border-radius: 20px;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;    
    font-size: large;
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: inline-flex;
    cursor: pointer;
}

#nameLabel{
    font-family: 'Lato', sans-serif;    font-size: large;
    color: #c9450c;   
    font-size: 40px;
    display: inline-block;
    width: 120px;
    text-align: right;
    line-height: 40px;
    vertical-align: middle;
    margin-bottom: 15px;
}

#player1, #player2{
    font-size: 25px;
    border-radius: 5px;
    color: teal;
}

#oNameWins, #xNameWins{
    color: #f27f4d;
}

#resultWindow{
    background: white;
    width: 30%;
    height: 350px;
    font-family: 'Lato', sans-serif;    font-size: 2em;
    color: white;
    position: absolute;
    margin-left: 34.3%;
    padding-left: 1em;
    padding-right: .2em;
    text-align: center;
    border-radius: 10px;
    margin-top:-28.4vw;
    display:block;
}

#methodText{
    font-family: 'Montserrat Alternates', sans-serif;    
    color:darkorange;
}

#resultWrapper{
    position: relative;
    z-index: 100;
    background-color: lightgray;
}
