
.App {
  text-align: center;
  background-color: black;
}

body{ 
  background-color: black;
}

.cardDiv{
  font-size: 100px;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
}
.cardDiv:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}

/* .Main{
  display: grid;
  grid-template-columns: 15vw 15vw 15vw 15vw 15vw;
  row-gap: 2px;
  justify-content: space-evenly;
} */

h1{
  color: white;
  padding: 2px;
  font-size: 320%;
  margin-top: 0;
  line-height: 30px;
}

h2{
  line-height: 1px;
  margin-bottom: 30px;
}

.scores{
  background-color: darkred;
  color: white;
  padding-bottom: 5px;
  margin-bottom: 2vw;
  padding-top: 10px;
}

img{
  width: 11vw;
  height: 16vw;
}

.expand{
  background: #fff;
  overflow: hidden;

  transition: all .5s ease-in-out;
  line-height: 0;
  padding: 0 1em;
  color: transparent;
}

.expand:target {
  line-height: 1.5;
  padding-top: 1em;
  padding-bottom: 1em;
  color: black;
}

.rules{ 
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.rules:hover{
  background-color: gainsboro;
  color: gray;
}

.close{
  color: darkred;
  text-decoration: none;
}

.close:hover{
  color: gray;
}
 