.myFormWrapper{
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 40%;
    z-index: 9;
}

.myFormWrapperProj{
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 40%;
    z-index: 9;
}

.myForm, .myFormProj{
    width: 40vw;
    padding: 10px;
    background-color: tomato;
}

.myForm input[type=text] .myFormProj input[type=text]{
    width: 80%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background-color: white;
}

.myForm input[type=text]:focus .myFormProj input[type=text]:focus{
    background-color: #ddd;
    outline: none;
}

.backgroundForm{
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
    margin:-5vw;
    display: none;
    position: fixed;
}

.backgroundFormProj{
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
    margin:-5vw;
    display: none;
    position: fixed;
}

button{
    display: block;
    font-family: 'Lexend Peta', sans-serif;
}

.closeForm, .closeProjFormBtn{
    float: right;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: .5vw;
    padding-bottom: .5vw;
    font-size: 1.5em;
}

.closeForm:hover, .closeProjFormBtn:hover{
    background-color: black;
    color: white;
}

.addNewTaskBtnForm, .addNewProjBtnForm{
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vw;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 1.5em;
}

.addNewTaskBtnForm:hover, .addNewProjBtnForm:hover{
    background-color: black;
    color: white;
}

label{
    font-family: 'Lexend Peta', sans-serif;
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 1vw;
    color: white;
}

input{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vw;
}

h1{
    font-family: 'Lexend Peta', sans-serif;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.taskInput, .taskDetails{
    height: 5vw;
}
