.myFormWrapper{
    
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 40%;
    z-index: 9;
}

.myForm{
    width: 40vw;
    padding: 10px;
    background-color: tomato;
}

.myForm input[type=text]{
    width: 80%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background-color: white;
}

.myForm input[type=text]:focus{
    background-color: #ddd;
    outline: none;
}

.backgroundForm{
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
    margin:-5vw;
    display: none;
    position: fixed;
}

button{
    display: block;
    font-family: 'Lexend Peta', sans-serif;

}

.closeForm{
    float: right;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 1.5em;
}

.addNewTaskBtnForm{
    margin-left: 45%;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 1.5em;
}

