

body {
    margin: 40px;
  }
  
.sidebar {
    grid-area: sidebar;
    height: 30vw;
}
  
.content {
    grid-area: content;
}
  
.header {
    grid-area: header;
    text-align: center;
}
  
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 15vw 73.5vw 120px;
    grid-template-areas:
        " header header header"
        "sidebar content content";
    background-color: #fff;
    color: #444;
}
   
.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
  }
  
.header {
    background-color: #999;
}


  