

body{
    background-color: #f1f3f8;
    margin: 2vw;
}

  
.sidebar {
    grid-area: sidebar;
    height: 40vw;
    left: 10px;
    background-color: #393b44;
    background: rgb(57,59,68);
    background: linear-gradient(0deg, rgba(57,59,68,1) 0%, rgba(141,147,171,1) 100%);
    box-shadow: 0px 0px 2px 2px rgba(57,59,68,0.2);

}
  
.content {
    grid-area: content;
    background-color: #b6c1d4;
    box-shadow: 0px 0px 2px 2px rgba(57,59,68,0.2);
    padding: 10px;


}
  
.header {
    grid-area: header;
    text-align: center;
    background-color: #8d93ab;
    box-shadow: 0px 0px 2px 2px rgba(57,59,68,0.2);
    padding-bottom: 10vw;
    margin-left: 3vw;
    margin-right: 3vw;
}
  
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 15vw 73.5vw 5vw;
    grid-template-areas:
        "sidebar header header"
        "sidebar content content";
    grid-template-rows: 3.5vw;
    background-color: #f1f3f8;
    padding: 10px;

}
   
.box {
    color: #fff;
    border-radius: 2px;
    
  }

.addNewTaskLink, .addNewProjectLink{
    padding: .2vw;
    padding-left: 4vw;
    margin-left: -1vw;
    background-color: #2e313b;
    border-radius: 2px;
    color: #f1f3f8;
    
}

.addNewTaskLink{
    float: left;
}


.boxHeaderTitle{
    font-size: 1.5vw;
}

.sidebarProjectTitle{
    padding: 10px;

}

h2{
    font-size: 2vw;
    font-family: 'Lexend Peta', sans-serif;
 }

h3{
    font-size: 1vw;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
h4{
    font-size: 1vw;
    font-family: 'Open Sans', sans-serif;
}

h5{
    font-size: 1vw;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 1vw;
    padding-left: 1vw;
}

h5:hover{
    background-color:  #f1f3f8;
    color: #393b44;
    cursor: pointer;
}

a{
    font-size: 1vw;
    font-family: 'Lexend Peta', sans-serif;

}

a:hover{
    cursor: pointer;
    background-color: #f1f3f8;
    color:#2e313b;
}
button{
    font-family: 'Lexend Peta', sans-serif;

}

  