body{
    margin: 40px;
    width: 30em;
}
    
#calcDiv{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, [col] 100px);
    grid-template-rows: repeat(7, [row] auto);
    background-color: teal;
    color: wheat;
    padding: 20px;
    width: 27.5em;
    
}

#numBtn, #opBtn, #funcBtn, #backBtn{
    background-color: white;
    color: tomato;
    border-radius: 20px;
    padding: 10px;
    margin: 2px;
    font-size: 20px;
    border-color: white;
}

#opBtn{
    background-color: tomato;
    color: white;
}


#textArea{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    width: 29.5em;
}

#inputText{
    width: auto;
    padding: 10px;
    padding-right: 30px;
    text-align: right;
    background-color: tomato;
    color: white;
    font-size: 32px;
    font-family: 'Staatliches', cursive;
    height: 1em;
    margin-left: auto;
    margin-right: auto;
}
#calculationText{
    width: auto;
    padding: 10px;
    padding-right: 30px;
    text-align: right;
    background-color: #aa2704;
    color: white;
    font-size: 32px;
    font-family: 'Staatliches', cursive;
    height: 1em;
    margin-right: auto;
    margin-left: auto;

    
}

#title{
    width: auto;
    padding: 10px;
    padding-bottom: 20px;
    text-align: right;
    background-color: tomato;
    color: white;
    font-size: 20px;
    font-family: 'Staatliches', cursive;
    height: 2em;
    line-height: 0em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}


.inputText{
    width: 100%;
}
.clear{
    grid-row: row 4 / span 2;
    grid-column: col 4;
}

.enter{
    grid-row: 2 /span 2;
    grid-column:  col 4;
}

.zero{
    grid-row: 5;
    grid-column: 1/ span 2;
}

.backspace{
    grid-row: 6;
    grid-column: 1/span 4;
}