.slides{
    display: block;
    margin: 0 auto;
}

img{
    width: 1400px;
    height: 800px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 30px;
}
